<p id="notice"><%= notice %></p>

 <h1><span class="label label-danger"><%= @advertisement.title %></span></h1>
 <h3 class = "text-success"><%= @advertisement.title %></h2>

<p class="lead"><%= raw @advertisement.content %></p>


<%= link_to '返回列表', girls_path, class: "btn btn-lg btn-primary" %>