<div>
  <% @girls.each do |girl| %>
    <h1 class="success"><%= girl.info %>  <button type="button" class="btn btn-lg btn-primary">Primary</button></h1>
    <p class="lead"><%= girl.demand %><br><%= girl.comment %></p>
  <% end %>
<!--   <table class="table table-striped">
    <thead>
      <tr class="success">
        <th>城市</th>
        <th>岁数</th>
        <th>身高(cm)</th>
        <th>体重(kg)</th>
        <th>要求</th>
      </tr>
    </thead>
    <tbody>
      <% @girls.each do |girl| %>
        <tr>
          <td><%= girl.city %></td>
          <td><%= girl.age %></td>
          <td><%= girl.height %></td>
          <td><%= girl.weight %></td>
          <td><%= girl.demand %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->
</div>