<!DOCTYPE html>
<html>
<head>
  <title>Wolf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- <div class="navbar navbar-inverse">
  
  <div class="navbar-inner">
    <div> 
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to("您好 #{current_user.email}", '#') %></li>
          <li>
          <%= link_to('用户注销', destroy_user_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('用户登录', new_user_session_path)  %>  
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div> -->
  <%= yield %>  

</body>
</html>
